.auth-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--colorFondo);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--colorTexto);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--colorPrincipal);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3385ff;
}

p {
    color: var(--colorTexto);
}

a {
    color: var(--colorPrincipal);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
